.tso-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tso-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tso-center {
  justify-content: center;
  align-items: center;
}

.tso-space-between {
  justify-content: space-between;
}

.tso-stretch {
  justify-content: stretch;
}

.tso-filter {
  border-radius: .5rem;
}

.selected .tso-filter {
  background-color: rgba(255, 255, 255, 0.6);
}

.tso-filter:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.tso-filter i, .tso-filter img {
  width: 24px;
  height: 24px;
  margin: 4px;
  text-align: center;
}

.tso-filter i::before {
  font-size: 18px;
}

.tso-building {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.tso-building-name {
  width: 160px;
  text-align: center;
}

.tso-building-icon {
  width: 80px;
  height: 80px;
}

.tso-build-btn {
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: center;
  background: #232a35;
  border-radius: .5rem;
  border: none;
  color: #f5f5f5;
}

.tso-build-icon {
  color: #e5ae67;
}

.tso-upgrade-icon {
  color: #30c78d;
}

.tso-delete-icon {
 color: #e56767;
}

.tso-build-btn[disabled] .tso-upgrade-icon[reqsmet="false"], .tso-build-btn[disabled] .tso-build-icon[reqsmet="false"] {
  color: #e56767;
}

.tso-build-btn[disabled] .tso-build-icon, .tso-build-btn[disabled] .tso-upgrade-icon {
  color: #a5a5a5;
}

/* idk why this isn't avaiable, it's in fa5-free */
.fa-house::before {
  content: "\f015";
}

.fa-close::before {
  content: '\f00d';
}

.tso-biome {
  margin: 12px;
}

.tso-biome-icon {
  width: 16px;
  height: 16px;
}

.tso-build-col {
  margin: 4px;
}

.tso-biome-resource > * {
  margin: 2px;
}

.tso-biome-resource img {
  width: 16px;
  height: 16px;
}

body.darkMode .tso-building {
  background: #2d3542;
}